body {
   background: #f1faff;
}
h1 {
   text-transform: uppercase;
   text-align: center;
   color: #333;
   margin: 0 0 60px 0;
   letter-spacing: 4px;
   font: 2.5rem;
   position: relative;
}
.author__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   color: #444;
   padding-bottom: 4rem;
}
.author__body p:not(:last-child) {
   margin-bottom: 1.1em;
}
.author__body a {
   display: inline-block;
   color: #444;
   text-decoration: none;
   margin: 5px auto;
}
.author__body a::after {
   content: '';
   width: 0;
   background-color: #444;
   display: block;
   height: 2px;
   transition: width 0.3s cubic-bezier(0.4, 0.04, 0.98, 0.335);
}
.author__body a:hover::after {
   width: 100%;
}
.back-arrow a i {
   font-size: 32px;
   position: absolute;
   top: 5%;
   left: 5%;
}
.back-arrow a:link,
.back-arrow a:visited  {
   color: #044453;
   transition: all 0.2s ease-in-out;
}
.back-arrow a:hover {
   color: #999;
}
.back-arrow a:active {
   color: #000;
}